*
{
    margin: 0;
    padding: 0;
}

.top
{
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
    position: fixed;
}
h2
{
    padding-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    font-weight: 600;
    letter-spacing: 2px;
}

#btn1
{
    margin-right: 18px;
    padding: 8px 15px;
    background-color: black;
    border: 0;
    border-radius: 15px;
    font-size: 15px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#btn1:hover
{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

body
{
    background:  #28b6da 
}